header {
    height: 100vh;
    .header__left {
        padding-top: 300px;
        @media screen and (max-width: 500px) {
            padding-top: 120px;
        }
        * {
            margin: 25px 0;
        }
        h2 {
            font-size: 55px;
            max-width: 620px;
            letter-spacing: 3px;
            @media screen and (max-width: 500px) {
                font-size: 40px;
                text-align: center;
            }
        }
        p {
            font-size: 18px;
            letter-spacing: 1.5px;
            max-width: 410px;
            text-align: right;
            color: #000000;
            @media screen and (max-width: 1100px) {
                text-align: center;
            }
        }
    }
    .header__right {
        position: absolute;
        top: 0;
        right: 0;
        width: 45%;
        height: 100%;
        background-color: #F1EADC;
        z-index: -1;
        #img1 {
            position: absolute;
            top: 150px;
            left: 70px;
        }
        #img2 {
            position: absolute;
            top: 230px;
            right: 220px;
        }
        #img3 {
            position: absolute;
            bottom: 50px;
            left: -90px;
        }
        @media screen and (max-width: 1100px) {
            * {
                display: none;
            }
        }
    }
}

.new__colection {
    h2 {
        font-size: 35px;
        letter-spacing: 2px;
        margin: 70px 0;
        @media screen and (max-width: 1050px) {
            text-align: center;
        }
    }
    &__inner {
        overflow: hidden;
        @media screen and (max-width: 800px) {
            justify-content: center;
        }
        &-button {
            margin-top: 65px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.our__values {
    h2 {
        font-size: 35px;
        letter-spacing: 2px;
        margin: 70px 0;
        @media screen and (max-width: 1035px) {
            text-align: center;
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @media screen and (max-width: 1035px) {
            justify-content: center;
        }
    }
}

.our__team {
    margin-bottom: 100px;
    h2 {
        font-size: 35px;
        letter-spacing: 2px;
        margin: 70px 0;
    }
    @media screen and (max-width: 1050px) {
        text-align: center;
    }
    &__inner {
        display: flex;
        @media screen and (max-width: 1050px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__left {
            max-width: 750px;
            width: 100%;
            img {
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
        }
        &__right {
            margin-top: 110px;
            margin-left: 70px;
            max-width: 260px;
            p {
                font-size: 17px;
            }
            * {
                margin: 25px 0;
            }
            h3 {
                font-size: 25px;
                margin-top: 0;
            }
            a {
                text-decoration: none;
                color: #6E9C9F;
            }
            @media screen and (max-width:1050px) {
                margin-top: 50px;
                margin-left: 0;
                max-width: 750px;
            }
        }
    }
}