.value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @media screen and (max-width: 1035px) {
        align-items: center;
    }
    margin-right: 5px;
    max-width: 305px;
    * {
        margin: 13px 0;
    }
    h3 {
        font-size: 25px;
    }
    p {
        font-size: 17px;
    }
}