$firsMediaQue:915px;
nav {
    padding: 35px 0;
    width: 100%;
    position: fixed;
    z-index: 100;
    transition: .3s ease;
    .toggleButton {
        cursor: pointer;
        display: none;
        align-self: flex-end;
        font-size: 38px;
        position: absolute;
        top: 32.5px;
        transform: translate(0, -50%);
    }
    @media screen and (max-width: $firsMediaQue) {
        background-color: rgb(255, 255, 255);
        padding: 20px 0;
        .toggleButton {
            display: block;
        }
    }
    ul,
    li {
        list-style-type: none;
    }
    a {
        text-decoration: none;
        margin: 0 22px;
        transition: .5s ease;
        color: #000000;
        &:hover {
            color: #6E9C9F;
        }
    }
    .nav__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: $firsMediaQue) {
            flex-direction: column;
        }
        .left {
            font-size: 20px;
            font-weight: bold;
            .small-icon {
                height: 25px;
                margin-right: 17px;
            }
        }
        .middle {
            display: flex;
            align-items: center;
            white-space: nowrap;
            @media screen and (max-width: $firsMediaQue) {
                flex-direction: column;
                margin: 15px 0;
                * {
                    margin: 15px 0;
                    font-size: 25px;
                }
            }
        }
        .right {
            display: flex;
            align-items: center;
            a {
                white-space: nowrap;
            }
            * {
                margin: 0 10px;
            }
            @media screen and (max-width: $firsMediaQue) {
                * {
                    font-size: 20px;
                }
            }
            @media screen and (max-width: 700px) {
                * {
                    font-size: 14px;
                }
            }
        }
    }
}

.active {
    background-color: white;
    box-shadow: #ededed 1px 3px 20px 0px;
}